$nav-link-width: 75%;
$nav-footer-width: 80%; 
$logo-size: 50px;
$sub-panel-top-position: -220px;
$nav-link-border-color: #4D4D4D;

.navbar {
  background-color: $brand-dark-purple;
}

.nav-link {
  color: $brand-dark-gray !important;
}