// All color variables go here

// Standard colors
$white: #fff;
$black: #000;
$gray: #666666;

// Brand colors
$brand-brown: #8D6E63;
$brand-maroon: #C51162;
$brand-light-purple: #E8EAF6;
$brand-medium-purple: #A4B1FA;
$brand-dark-purple: #52587F;


$brand-dark-gray: #A4A5AD;
$brand-light-gray: #D4D6E0;

