// Global styles go here

body {
  background-color: $brand-light-purple;
}

main {
  background-color: $brand-light-purple;
  width: 100%;
  padding: 0;
}

img {
  @extend .img-responsive;
  margin: 0 auto;
}

p {
  font-size: $main-font-size;
  color: $brand-maroon
}

h1, h2, h3, h4 {
  color: $brand-brown;
}
