<%# add navigation links to this file %>
<li><%= link_to 'Movies', movies_path, class: 'nav-link' %></li>

<li>
  <% if current_user %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
  <% else %>
    <%= link_to "Log In", new_user_session_path, class: 'nav-link' %>
  <% end %>
</li>
